<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.ifpb.ajudemais">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mensageiro"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.ApresentationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.RecoveryPasswordActivity"
            android:label="@string/recoveryPasswordActivity" />
        <activity
            android:name=".activities.CreateMensageiroAccountActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.ProfileSettingsActivity" />
        <activity
            android:name=".activities.EnderecoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.MyEnderecosActivity" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.MySolicitacoesActivity" />
        <activity android:name=".activities.DetailSolicitacaoActivity" />
        <activity
            android:name=".activities.SelectHorarioColetaActivity"
            android:label="@string/SelectHorarioColeta" />
        <activity android:name=".activities.NotRecolhidoActivity"></activity>
    </application>

</manifest>